*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
navigation-deep-links/build
/.idea/**
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
!/.idea/inspectionProfiles/